.footer {
    float:left;
    font-size:1.17rem;
    text-transform: uppercase;
    margin:4px;
}
#friendsList ul li a {
    text-decoration:none;
    font-size:0.8rem;
    color:maroon;
}
#friendsList ul {
    display:inline-block;
    list-style-type:none;
    margin-top:0px;
}
footer {
    position: relative;
}
#friendsList h3 {
    margin-left:30px;
}


